In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.model_selection import train_test_split,cross_validate
from sklearn.linear_model import LinearRegression,Lasso
from sklearn.metrics import mean_absolute_error,mean_squared_error

c:\Users\lucer\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

As the CSV files have already provided the Train and the Test, so we can use those too dataset first. But must make sure that the dataset have thesame structure.

Those input steps should be changed to your local path

In [4]:
df_train = pd.DataFrame()
df_train = pd.read_csv("D:/ETSII/3 CARRERA_ERASMUS/2T/AI/AIPROJECT_good/data/train.csv")
df_train

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,3,2.5,2590.0,sqft,6000.00,sqft,98144,795000.0
1,4,2.0,2240.0,sqft,0.31,acre,98106,915000.0
2,4,3.0,2040.0,sqft,3783.00,sqft,98107,950000.0
3,4,3.0,3800.0,sqft,5175.00,sqft,98199,1950000.0
4,2,2.0,1042.0,sqft,NaN,NaN,98102,950000.0
...,...,...,...,...,...,...,...,...
2011,3,2.0,1370.0,sqft,0.50,acre,98112,910000.0
2012,1,1.0,889.0,sqft,NaN,NaN,98121,550000.0
2013,4,2.0,2140.0,sqft,6250.00,sqft,98199,1150000.0
2014,2,2.0,795.0,sqft,NaN,NaN,98103,590000.0
2015,3,2.0,1710.0,sqft,4267.00,sqft,98133,659000.0

In [5]:
df_test = pd.DataFrame()
df_test = pd.read_csv("D:/ETSII/3 CARRERA_ERASMUS/2T/AI/AIPROJECT_good/data/test.csv")
df_test

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,3,3.0,2850.0,sqft,4200.00,sqft,98119,1175000.0
1,4,5.0,3040.0,sqft,5002.00,sqft,98106,1057500.0
2,3,1.0,1290.0,sqft,6048.00,sqft,98125,799000.0
3,3,2.0,2360.0,sqft,0.28,acre,98188,565000.0
4,3,3.5,1942.0,sqft,1603.00,sqft,98107,1187000.0
...,...,...,...,...,...,...,...,...
500,5,4.5,5580.0,sqft,0.30,acre,98146,3800000.0
501,3,2.5,1390.0,sqft,1570.00,sqft,98126,575000.0
502,3,2.5,2950.0,sqft,0.47,acre,98118,3105000.0
503,5,5.0,3010.0,sqft,4887.00,sqft,98115,1807000.0
504,3,2.0,1301.0,sqft,3000.00,sqft,98103,895000.0

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   beds            2016 non-null   int64
 1   baths           2016 non-null   float64
 2   size            2016 non-null   float64
 3   size_units      2016 non-null   object
 4   lot_size        1669 non-null   float64
 5   lot_size_units  1669 non-null   object
 6   zip_code        2016 non-null   int64
 7   price           2016 non-null   float64
dtypes: float64(4), int64(2), object(2)
memory usage: 126.1+ KB

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   beds            505 non-null    int64
 1   baths           505 non-null    float64
 2   size            505 non-null    float64
 3   size_units      505 non-null    object
 4   lot_size        428 non-null    float64
 5   lot_size_units  428 non-null    object
 6   zip_code        505 non-null    int64
 7   price           505 non-null    float64
dtypes: float64(4), int64(2), object(2)
memory usage: 31.7+ KB

In [ ]:
print(df_train.value_counts("size_units"))
print(df_train.value_counts("lot_size_units"))
#Check the standarlization of object variable

size_units
sqft    2016
dtype: int64
lot_size_units
sqft    1449
acre     220
dtype: int64

In [ ]:
print(df_test.value_counts("size_units"))
print(df_test.value_counts("lot_size_units"))

size_units
sqft    505
dtype: int64
lot_size_units
sqft    369
acre     59
dtype: int64

So, as result, there is no need to standalize the name(string), but it's better to standalize the number, as 1 acre = 43560 sqft

In [ ]:
df_train.loc[df_train['lot_size_units'] == 'acre', 'lot_size'] *= 43560 #Change the acre to sqft
df_train.loc[df_train['size_units'] == 'acre', 'size'] *= 43560 #Change the acre to sqft
df_train = df_train.drop('lot_size_units', axis=1) #Delet the units line because we dont need it when its all in sqft
df_train = df_train.drop('size_units', axis=1) #Delet the units line because we dont need it when its all in sqft
df_train

      beds  baths    size  lot_size  zip_code      price
0        3    2.5  2590.0    6000.0     98144   795000.0
1        4    2.0  2240.0   13503.6     98106   915000.0
2        4    3.0  2040.0    3783.0     98107   950000.0
3        4    3.0  3800.0    5175.0     98199  1950000.0
4        2    2.0  1042.0       NaN     98102   950000.0
...    ...    ...     ...       ...       ...        ...
2011     3    2.0  1370.0   21780.0     98112   910000.0
2012     1    1.0   889.0       NaN     98121   550000.0
2013     4    2.0  2140.0    6250.0     98199  1150000.0
2014     2    2.0   795.0       NaN     98103   590000.0
2015     3    2.0  1710.0    4267.0     98133   659000.0

[2016 rows x 6 columns]

In [ ]:
df_test.loc[df_test['lot_size_units'] == 'acre', 'lot_size'] *= 43560 #Change the acre to sqft
df_test.loc[df_test['size_units'] == 'acre', 'size'] *= 43560 #Change the acre to sqft
df_test = df_test.drop('lot_size_units', axis=1) #Delet the units line because we dont need it when its all in sqft
df_test = df_test.drop('size_units', axis=1) #Delet the units line because we dont need it when its all in sqft
df_test

     beds  baths    size  lot_size  zip_code      price
0       3    3.0  2850.0    4200.0     98119  1175000.0
1       4    5.0  3040.0    5002.0     98106  1057500.0
2       3    1.0  1290.0    6048.0     98125   799000.0
3       3    2.0  2360.0   12196.8     98188   565000.0
4       3    3.5  1942.0    1603.0     98107  1187000.0
..    ...    ...     ...       ...       ...        ...
500     5    4.5  5580.0   13068.0     98146  3800000.0
501     3    2.5  1390.0    1570.0     98126   575000.0
502     3    2.5  2950.0   20473.2     98118  3105000.0
503     5    5.0  3010.0    4887.0     98115  1807000.0
504     3    2.0  1301.0    3000.0     98103   895000.0

[505 rows x 6 columns]

Then, we are going to delete the same lines(if there is)

In [ ]:
df_train = df_train.drop_duplicates(keep='last')
df_train

      beds  baths    size  lot_size  zip_code      price
0        3    2.5  2590.0    6000.0     98144   795000.0
1        4    2.0  2240.0   13503.6     98106   915000.0
2        4    3.0  2040.0    3783.0     98107   950000.0
3        4    3.0  3800.0    5175.0     98199  1950000.0
4        2    2.0  1042.0       NaN     98102   950000.0
...    ...    ...     ...       ...       ...        ...
2011     3    2.0  1370.0   21780.0     98112   910000.0
2012     1    1.0   889.0       NaN     98121   550000.0
2013     4    2.0  2140.0    6250.0     98199  1150000.0
2014     2    2.0   795.0       NaN     98103   590000.0
2015     3    2.0  1710.0    4267.0     98133   659000.0

[2007 rows x 6 columns]

In [ ]:
df_test = df_test.drop_duplicates(keep='last')
df_test

     beds  baths    size  lot_size  zip_code      price
0       3    3.0  2850.0    4200.0     98119  1175000.0
1       4    5.0  3040.0    5002.0     98106  1057500.0
2       3    1.0  1290.0    6048.0     98125   799000.0
3       3    2.0  2360.0   12196.8     98188   565000.0
4       3    3.5  1942.0    1603.0     98107  1187000.0
..    ...    ...     ...       ...       ...        ...
500     5    4.5  5580.0   13068.0     98146  3800000.0
501     3    2.5  1390.0    1570.0     98126   575000.0
502     3    2.5  2950.0   20473.2     98118  3105000.0
503     5    5.0  3010.0    4887.0     98115  1807000.0
504     3    2.0  1301.0    3000.0     98103   895000.0

[504 rows x 6 columns]

Both datasets there is a problem of NaN variable

In [ ]:
df_train = df_train.dropna().reset_index(drop=True) #Drop Nan andd reset the index
df_test = df_test.dropna().reset_index(drop=True)
print(df_train)
print(df_test)

      beds  baths    size  lot_size  zip_code      price
0        3    2.5  2590.0    6000.0     98144   795000.0
1        4    2.0  2240.0   13503.6     98106   915000.0
2        4    3.0  2040.0    3783.0     98107   950000.0
3        4    3.0  3800.0    5175.0     98199  1950000.0
4        2    2.0  1190.0   43560.0     98107   740000.0
...    ...    ...     ...       ...       ...        ...
1655     3    3.5  1680.0    1486.0     98126   675000.0
1656     2    2.0  1400.0   14810.4     98199   699950.0
1657     3    2.0  1370.0   21780.0     98112   910000.0
1658     4    2.0  2140.0    6250.0     98199  1150000.0
1659     3    2.0  1710.0    4267.0     98133   659000.0

[1660 rows x 6 columns]
     beds  baths    size  lot_size  zip_code      price
0       3    3.0  2850.0    4200.0     98119  1175000.0
1       4    5.0  3040.0    5002.0     98106  1057500.0
2       3    1.0  1290.0    6048.0     98125   799000.0
3       3    2.0  2360.0   12196.8     98188   565000.0
4       3    3.5  1942.0    1603.0     98107  1187000.0
..    ...    ...     ...       ...       ...        ...
422     5    4.5  5580.0   13068.0     98146  3800000.0
423     3    2.5  1390.0    1570.0     98126   575000.0
424     3    2.5  2950.0   20473.2     98118  3105000.0
425     5    5.0  3010.0    4887.0     98115  1807000.0
426     3    2.0  1301.0    3000.0     98103   895000.0

[427 rows x 6 columns]

In [ ]:
print(df_train.info())
print(df_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1660 entries, 0 to 1659
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   beds      1660 non-null   int64
 1   baths     1660 non-null   float64
 2   size      1660 non-null   float64
 3   lot_size  1660 non-null   float64
 4   zip_code  1660 non-null   int64
 5   price     1660 non-null   float64
dtypes: float64(4), int64(2)
memory usage: 77.9 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427 entries, 0 to 426
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   beds      427 non-null    int64
 1   baths     427 non-null    float64
 2   size      427 non-null    float64
 3   lot_size  427 non-null    float64
 4   zip_code  427 non-null    int64
 5   price     427 non-null    float64
dtypes: float64(4), int64(2)
memory usage: 20.1 KB
None

In [ ]:
#df_train.to_csv('/content/drive/MyDrive/M1_2IS_HAO/AI/Project/data/train_clean.csv', index=False)
#df_test.to_csv('/content/drive/MyDrive/M1_2IS_HAO/AI/Project/data/test_clean.csv', index=False)

In [23]:
df_train.corr().style.background_gradient(cmap="Blues")